/* 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .amountContainer {
        margin-right: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .amountContainer {
        margin-right: 83px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .amountContainer {
        margin-right: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
     .amountContainer {
        margin-right: 120px;
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .amountContainer {
        margin-right: 850px;
    }
}