@import '../../../util/colors.css';

.updownbtn {
    border: 1px solid rgb(182, 179, 179);
    width: 30px;
    background-color: white;
    border-radius: 2px;
}

.buyNowbtn {
    background-color: var(--mainThemeColor);
    color: white;
}

.buyNowbtn:hover {
    border-color: var(--mainThemeColor);
    color: var(--mainThemeColor);
}

.addCartbtn {
    border-color: var(--mainThemeColor);
    color: var(--mainThemeColor);
}

.addCartbtn:hover {
    background-color: var(--mainThemeColor);
    color: white;
}

.displayCount {
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid rgb(182, 179, 179);
    border-bottom: 1px solid rgb(182, 179, 179);
    border-left: none;
    border-right: none;
}